@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Homework.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model Homework.Web.Pages.ParentAdmin.FamilyGoals.CreateModalModel
@inject IHtmlLocalizer<HomeworkResource> L
<form asp-page="/ParentAdmin/FamilyGoals/CreateModal">
    <abp-modal>
        <abp-modal-header title="@L["CreateGoal"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="Input.Title" label="@L["Title"].Value" />
            <abp-input asp-for="Input.TargetStars" type="number" label="@L["TargetStars"].Value" />
            <abp-input asp-for="Input.RewardText" label="@L["RewardText"].Value" />
            <abp-input asp-for="Input.StartDate" type="date" label="@L["StartDate"].Value" />
            <abp-input asp-for="Input.EndDate" type="date" label="@L["EndDate"].Value" />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel | AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
