@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Homework.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model Homework.Web.Pages.ParentAdmin.DailyTasks.CreateModalModel
@inject IHtmlLocalizer<HomeworkResource> L
<form asp-page="/ParentAdmin/DailyTasks/CreateModal">
    <abp-modal>
        <abp-modal-header title="@L["Create"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="ChildId" />
            <input type="hidden" asp-for="Date" />
            <abp-input asp-for="Input.Title" label="@L["Title"].Value" />
            <abp-input asp-for="Input.Subject" label="@L["Subject"].Value" />
            <abp-input asp-for="Input.Order" type="number" label="@L["Order"].Value" />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel | AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
