@page
@using Homework.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@model Homework.Web.Pages.ParentAdmin.DailyTasks.IndexModel
@inject IHtmlLocalizer<HomeworkResource> L
@section scripts { <abp-script src="/Pages/ParentAdmin/DailyTasks/index.js" /> }
<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_8">
                <h2 class="d-inline">@L["Menu:DailyTasks"]</h2>
                <select id="ChildSelect" class="form-select d-inline-block ms-3" style="width:auto"></select>
                <input type="date" id="BoardDate" class="form-control d-inline-block ms-2" style="width:auto" />
            </abp-column>
            <abp-column size-md="_4" class="text-end">
                <abp-button id="NewTaskButton" text="@L["AddTask"].Value" icon="plus" button-type="Primary" />
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <div id="SummaryCard" class="mb-3"></div>
        <table class="table table-striped" id="TasksTable">
            <thead><tr>
                <th>@L["Order"]</th><th>@L["Title"]</th><th>@L["Subject"]</th>
                <th>@L["Completed"]</th><th>@L["ReviewState"]</th><th>@L["Actions"]</th>
            </tr></thead>
            <tbody></tbody>
        </table>
    </abp-card-body>
</abp-card>
